[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "signifinder"]
	path = signifinder
	url = https://github.com/caluralab/signifinder
